body {
    background: #24353ffe;
}

.container {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    text-align: center;
}

h1 {
    color: #17a2b8;
}

input {
    color: #fff;
    border: 1px solid #ffF;
    background: transparent;
    border-radius: 5px;

    &::placeholder {
        color: #ffffffb4;
    }

}

button {

    color: #17a2b8;
    border: 1px solid #17a2b8;
    background: transparent;
    padding: 10px;

    &:hover {
        color: #fff;
        background: #17a2b8;

    }
}

p {
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline
        }
    }
}

.link-btn {
    color: #17a2b8;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.text-red {
    color: red
}

.text-green {
    color: green;
}

.log-out {
    width: 100%;
}

@media screen and (min-width:991px) {

    .log-out {
        width: 10%;

    }
}